.banner-principal-decorativo
  &-1
    animation: float1 2.9s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 6%
    width: 95px
  &-2
    animation: float1 2.2s ease-in-out infinite alternate
    position: absolute
    top: 78%
    right: 74%
    width: 90px
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 3%
    right: 94%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal__row .banner-principal__img
  max-width: 500px !important  
  position: static
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption, table caption
  font-weight: normal 
.barra-avance__boton--regresar span
  color: white !important


.banner-interno__fondo
  background-image: url('../assets/curso/portada/mini-portada.png') !important
.fa-lista
  li
    display: flex !important
    align-items: flex-start
  li:before
    position: relative
    margin-right: 7px
    font-size: 1.4rem 
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario       
.lista-ol--cuadro.color-primario .lista-ol--cuadro__vineta
  background-color: $color-primario
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.bg-color-primario
  background-color: $color-primario
.bg-color-secundario
  background-color: $color-secundario
.bg-color-sistema-texto
  background-color: #12263F
.bg-color-adicional-1
  background-color: $color-adicional-1
.ct-color-primario
  color: $color-primario
.w-fit
  width: fit-content
.columns-2
  columns: 2
.tc-sec 
  color: $color-secundario !important
.tc-ac 
  color: $color-acento-contenido !important
.font-italic
  font-style: italic !important
.sin-borde
  border: 0px !important


.bg-1
  background-color: #FDEFED !important
.bg-2
  background-color: #E7F5F0 !important
.bg-3
  background-color: #FFE2E3 !important
.bg-4
  background-color: #FFF0F1 !important
.bg-5
  background-color: #A1D8C6 !important
.bg-6
  background-color: #8B3A2E 
.bg-7
  background-color: #F0E5FB
.bgi-1
  background-image: url('../assets/curso/temas/t2/3.png')
  background-repeat: no-repeat
  background-size: cover
.bgi-2
  background-image: url('../assets/curso/temas/t2/tarj1-fondo.svg')
  background-repeat: no-repeat
  background-size: cover
.bgi-3
  background-image: url('../assets/curso/temas/t2/bg-tab.png')
  background-repeat: no-repeat
  background-size: cover
.bgi-4
  background-image: url('../assets/curso/temas/t3/bg-deco.svg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
.bgi-5
  background-image: url('../assets/curso/temas/t2/bg-slider.png')
  background-repeat: no-repeat
  background-size: cover


.subt
  position: relative
  background-color: #169F70
  width: fit-content
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
  &--img
    width: 50px
    margin-top: -10%
    padding: 0px 7px
  &--text
    background-color: #E7F5F0
    padding: 8px 15px
    border: 1px solid #E7F5F0
    border-top-right-radius: 10px
    border-bottom-right-radius: 10px
.subt2
  background-color: #E7F5F0
  border-left: 5px solid #169F70
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
  width: fit-content
.tarj-hov1
  background-color: #FFF0F1
  transition: all 0.3s ease-out
  &:hover 
    background-color: #E7F5F0
    transition: all 0.3s ease-out
    .ico 
      background-color: #169F70
      transition: all 0.3s ease-out
  .ico
    width: 120px
    height: 120px
    background-color: #E8624E
    border-radius: 500px
    align-content: center
    justify-content: center
    padding: 20px
    margin: 0 auto
    transition: all 0.3s ease-out
.tarj-hov2
  background-color: #E7F5F0
  transition: all 0.3s ease-out
  position: relative
  &:hover 
    background-color: #A1D8C6
    transition: all 0.3s ease-out
    .ico 
      background-color: #E8624E
      transition: all 0.3s ease-out
    &::before
      background-color: #E7F5F0
      transition: all 0.3s ease-out
  &::before
    content: ''
    position: absolute
    background-color: #A1D8C6
    width: 30px
    height: 55px
    border-radius: 500px
    border-top-left-radius: 0px
    border-bottom-left-radius: 0px
    left: 0px
    transition: all 0.3s ease-out
  .ico
    width: 105px
    height: 105px
    background-color: #0D5F43
    border-radius: 500px
    align-content: center
    justify-content: center
    padding: 20px
    margin: 0 auto
    transition: all 0.3s ease-out
.ico-lista img
  width: 28px
  margin-right: 10px
  position: relative
  top: 5px
.ico-lista2 img
  width: 14px
  margin-right: 10px
  position: relative
  top: 5px
.tarjetas-up
  overflow: hidden
  border-radius: 10px
  position: relative
  &_card
    transition: bottom .3s ease-in-out
    position: absolute
    border-radius: 10px
    width: 100%
    height: 100%
    left: 0
    bottom: -77%
    background-color: #F0E5FB
    i:last-child
      display: none
    @media (max-width: $bp-max-lg )
      bottom: -80%
    .flecha
      display: block
      background-color: #7000D2
      height: 30px
      width: 30px
      align-content: center
      text-align: center
      border-radius: 500px
      i
        color: $white
  &:hover
    .tarjetas-up_card
      bottom: -25%
    i:first-child
      display: none
    i:last-child
      display: block
.avatar
  position: absolute
  bottom: 0
  right: -11rem
  z-index: 1
  @media (max-width: 1000px)
    display: none
.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  p
    margin-bottom: 0
  &::before
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #FCE6E2
  @media (max-width: 1000px)
    padding-right: 2rem
.crd--first, .crd--last
  &::before
    background-color: #FFF0F1 !important
.crd--first
  &::before
    border-top-left-radius: 30px
.crd--last
  &::before
    border-bottom-left-radius: 30px


.tarjeta-numerada
  border: 3px solid 
  &.color-adicional-1
    border-color: #727997
    .tarjeta-numerada__numero
      background-color: #727997
.tab-p table th, .tab-p table td
  padding: 15px 20px
.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  color: $white
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center
.tabs-a
  &__tab
    background-color: #7000D2
    color: #FFF
    &__selected, &:hover
      color: $color-sistema-texto !important
.bloque-texto-g--inverso, .texto-g-70 
  .bloque-texto-g__texto
    width: 70%
    @media (max-width: $bp-max-sm)
      width: 100%
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #7000D2
.slyder-a__bullets__item
  background-color: #BEA1D8
  border-color: #BEA1D8
.slyder-a__bullets__item:hover
  background-color: #7000D2
.slyder-a__bullets__item--active
  border-color: #7000D2
  background-color: #7000D2
@media (min-width: $bp-min-xl)
  .col-lg-cinco
    width: 20% !important